<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>Contact Page</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<div class="elementor-widget-wrap elementor-element-populated" align="center">
    <div class="elementor-element elementor-element-315efe8 elementor-widget elementor-widget-heading" data-id="315efe8" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">צרו קשר:</h2>		</div>
    </div>
    <div class="elementor-element elementor-element-c4eb43c elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="c4eb43c" data-element_type="widget" data-widget_type="divider.default">
        <div class="elementor-widget-container">
            <div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-c7890cf elementor-widget elementor-widget-text-editor" data-id="c7890cf" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
            <p>טלפון:&nbsp;09-7688883<br>פקס:&nbsp;09-7688884<br>אביגדור כחלון:&nbsp;0525227704<br>דוא“ל:&nbsp;avi@avigdorkahlon.co.il</p>						</div>
    </div>
</div>
<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>